[Unit]
Description=Windows Update for Arch Linux!

[Timer]
OnCalendar=daily
Persistent=true
Unit=Windows_Update.service

[Install]
WantedBy=timers.target